.brandLinkCat, .brandLinkLinked, .octoCat, .linkedIn {
    width: 34px;
    height: 34px;
    /*margin-bottom: -100px;*/
}

.octoCat {
    margin-left: 80px ;
    /*margin-top: -15px;*/
}

.linkedIn {
    margin-left: 130px ;
    /*margin-top: -15px;*/
}

.contactTextArea {
    height: 200px;
}

.contactTextRowDiv{
    margin-top: -20px;
}

.nav {
    height: 250px;
}

.gallery {
    margin-bottom: 0px;
}

.tagLine, .nameHeading, .gallery-header{
    font-weight: bolder!important;
    opacity: .8!important;
}

.nameHeading {
    font-size: 74px!important;
}

.tagLine {
    font-size: 22px!important;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    opacity: 0.7!important;
    padding: 60px;
    column-gap: 200px!important;

}

.cardHeading {
    font-size: 30px;
    font-weight: bolder;
}

.submitButton {
    margin-top: -35px;
    width: 95px;
    font-family: "Amatic SC";
    font-size: 16px;
    font-weight: bolder;
}

/*Media Query*/
@media only screen and (max-width: 992px) {
    .octoCat {
        margin-left: -80px;
    }

    .card {
        width: 100% !important;
    }

}