.brandLinkCat, .brandLinkLinked, .octoCat, .linkedIn, .brandLinkCV, .CV {
    width: 34px;
    height: 34px;
    /*margin-left: ;*/
    /*margin-bottom: -100px;*/
    z-index: 1!important;
}

.brandLinkCat {
    margin-left: auto ;
}

.brandLinkLinked {
    margin-left: auto ;
}

.brandLinkCV {
    margin-left: auto;
    /*margin-top: -1px!important;*/
}

.octoCat {
    margin-left: 80px ;
    /*margin-top: -15px;*/
}

.linkedIn {
    margin-left: 130px ;
    /*margin-top: -15px;*/
}

.CV {
    margin-left: 174px;
    width: 36px;
    height: 36px;
}


/*cards*/

.profilePic {
    width: 100px;
    height: 100px;
    margin-top: -15px;
}


.contactTextArea {
    height: 200px;

}

.contactTextRowDiv{
    margin-top: -10px;
}

.nav {
    height: 250px;
}

.nav-wrapper {
    /*z-index: -1!important;*/
}

.titleDiv {
    opacity: 0.8;
}

.gallery {
    margin-bottom: 0px;
}

.tagLine, .nameHeading{
    font-weight: bolder!important;
}

.nameHeading {
    font-size: 76px!important;

}

.tagLine {
    font-size: 24px!important;
    margin-top: -20px;
}

.card {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    opacity: 0.85;
    padding: 60px;
    column-gap: 200px!important;
    /*position: absolute;*/
}

.contactCard {
    margin-top: 15px;
}

.cardHeading {
    font-size: 30px;
    font-weight: bolder;
    color: #595959;
}

.caption {
    color: #595959 !important;
    font-size: 22px;
}

.captionAbout {
    margin-bottom: 30px;
}

.submitButton {
    margin-top: 0px;
    width: 95px;
    font-family: "VT323";
    font-size: 16px;
    font-weight: bolder;
}

.bodyRowDiv {
    position: relative!important;
}

.row {
    position: relative!important;
}

.amazonCloneCard {
    margin-top: -18.7%;
}

.addAppsCard {
    margin-top: 1.5%!important;

}

.aboutMeCard {
    margin-bottom: auto!important;
}

.contactCard {
    margin-top: 1.5%!important;
}

.robot {
    width: 80%;
    height: auto;
    margin: auto;
}

.nodeBotCardRow {
    margin-left: auto!important;
}



/*Media Query*/
@media only screen and (max-width: 992px) {
    .octoCat {
        margin: auto;
        margin-left: -54px;
        margin-top: 10px;
    }

    .linkedIn{
        margin: auto;
        margin-left: 0px;
        margin-top: 10px;
        /*z-index: 2!important;*/
    }

    .brandLinkLinked {
        z-index: 2!important;
    }

    /*.brandLinkCV {*/
        /*margin: auto;*/
        /*margin-right: -54px;*/
    /*}*/

    .CV {
        margin-left: 50px!important;
        margin-top: 10px;
    }

    .card {
        width: 100% !important;

    }

    .contactCard, .aboutMeCard, .ffCard, .addAppsCard, .amazonCloneCard  {
        margin: auto ;
    }

    .ffCard{
        margin-top: 4%;
    }

    .amazonCloneCard, .aboutMeCard {
         margin-top: 1.5%;
    }

    .nameHeading {
        font-size: 60px!important;
    }
    .tagLine {
        font-size: 22px!important;
    }

}